<div className="home-page">
    <header class="header">
        <h1 id="pms">Welcome to Hotel Reservation System</h1>
        <p class="slogan">Your one-stop solution for booking Your Hotel Rooms</p>
    </header>
    <section class="features">
        <div class="feature" style="display: flex;flex-direction: column;align-items: center; justify-content: center;">
            <img src="https://www.mews.com/hs-fs/hubfs/_2023_update/Images/edyn.webp?width=696&height=625&name=edyn.webp" alt="Feature 1" />
            <h2>Easy Hotel Management</h2>
           
        </div>
        <div class="feature" style="display: flex;flex-direction: column;align-items: center; justify-content: center;">
            <img src="https://www.mews.com/hs-fs/hubfs/_2023_update/Images/go-hotels.webp?width=696&height=624&name=go-hotels.webp" alt="Feature 2" />
            <h2>Enhanced Analytics</h2>
            
        </div>
        <div class="feature" style="display: flex;flex-direction: column;align-items: center; justify-content: center;">
            <img src="https://www.mews.com/hs-fs/hubfs/_2023_update/Images/Westcord_854x1000%20-%20Menu%20Tile.webp?width=365&height=427&name=Westcord_854x1000%20-%20Menu%20Tile.webp" alt="Feature 3" />
            <h2>User-Friendly Interface</h2>
           
        </div>
    </section>
    <section class="cta">
        <h2>Get Started Today</h2>
        <p>Join us in revolutionizing the way you manage your products.</p>
       <button class="btn btn-secondary" (click)="signup()">Sign Up</button>
    </section>
</div>

