<div class="container mt-4 ">
  <div class="row justify-content-center">
    <div class="col-15 col-md-6 col-lg-4">
      <form (ngSubmit)="updateReservation(reservation.id)" class="p-4 border rounded shadow-lg">
        <div class="mb-3">
          <label class="form-label">Room Type:</label>
          <input [(ngModel)]="reservation.roomType" name="roomType" class="form-control" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Check-In Date:</label>
          <input [(ngModel)]="reservation.checkInDate" name="checkInDate" type="date" class="form-control" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Check-Out Date:</label>
          <input [(ngModel)]="reservation.checkOutDate" name="checkOutDate" type="date" class="form-control" required />
        </div>

        <div class="mb-3">
          <label class="form-label">Status:</label>
          <select [(ngModel)]="reservation.status" name="status" class="form-select" required>
            <option value="Confirmed">Confirmed</option>
            <option value="Pending">Pending</option>
            <option value="Cancelled">Cancelled</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary w-100">Update Reservation</button>
      </form>
    </div>
  </div>
</div>
